::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px
}

.titleSection {
    width: 100%;
    height: auto;
    text-align: center
}

.titleSection__title {
    color: var(--text-secondary-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700
}

.titleSection__subtitle {
    font-size: 1.5rem
}

@media screen and (min-width: 1020px) {
    .titleSection {
        text-align: left
    }
}

.about {
    padding: 8rem 2rem;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.about__container {
    max-width: var(--size-container);
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
    justify-content: center
}

.about__image {
    width: 100%;
    border-radius: 1rem;
    max-width: 500px
}

.about__description {
    font-weight: lighter;
    color: var(--text-color);
    line-height: 1.5em;
    text-align: center
}

@media screen and (min-width: 1020px) {
    .about__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center
    }

    .about__description {
        text-align: left
    }
}

.contact {
    background-color: #fff;
    padding: 8rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.contact__container {
    max-width: var(--size-container);
    width: 100%
}

.contact__icons ul {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem
}

.contact__icons ul li {
    text-align: center;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem
}

.contact__icons ul li .contact__info strong {
    margin: 0;
    margin-top: 1rem
}

.contact__icons ul li .contact__info p {
    margin: 0;
    color: var(--text-color)
}

@media screen and (min-width: 900px) {
    .contact__icons ul {
        padding-top: 4rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem
    }

    .contact__icons ul li {
        text-align: left;
        display: flex;
        flex-flow: row nowrap;
        gap: 1.5rem
    }
}

.circleIcon {
    border-radius: 50%;
    box-shadow: 0 0 10px #00000017;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0
}

.circleIcon .circleIcon__image {
    width: 2.5rem
}

.circleIcon .circleIcon__image--fa {
    font-size: 2.5rem;
    color: var(--text-secondary-color)
}

.content {
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
    justify-content: center
}

.content__presentation {
    margin-top: 6rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 1rem
}

.content__presentation h1 {
    width: 100%
}

.content__information {
    max-width: 580px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.content__information h1 {
    margin: 0
}

.content__information p {
    font-weight: lighter;
    color: var(--text-color);
    font-size: 1.2rem
}

.content__photo {
    height: 15rem;
    width: 15rem;
    background-image: url(/assets/myImage-80a0f23f.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: circleRadius 8s ease-in-out infinite;
    transition: all 1s ease-in-out
}

.content__social {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    margin: .5rem 0
}

.content__social a {
    transition: .3s;
    color: #000
}

.content__social a:hover {
    color: var(--text-secondary-color)
}

.content__tech {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 3rem
}

.content__tech h3 {
    width: 6rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid rgba(45, 46, 50, .5);
    text-align: center;
    padding-bottom: .5rem
}

.content__logos ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem
}

.content__logos ul li {
    list-style: none
}

@keyframes circleRadius {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30%
    }

    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
}

@media screen and (min-width: 900px) {
    .content {
        height: 100vh
    }

    .content__presentation {
        margin: 0;
        height: auto;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        text-align: left
    }

    .content__photo {
        height: 22rem;
        width: 22rem
    }

    .content__information {
        display: flex;
        flex-flow: column nowrap
    }

    .content__information h1 {
        font-size: 3rem
    }

    .content__information p {
        font-weight: lighter;
        color: var(--text-color);
        font-size: 1.2rem
    }

    .content__social {
        align-items: flex-start;
        width: 100%
    }
}

@media screen and (max-height: 800px) and (min-width: 900px) {
    .content {
        height: auto;
        padding-top: 8rem
    }
}

.footer {
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    justify-content: center
}

.footer__container {
    width: 100%;
    max-width: var(--size-container);
    display: flex;
    flex-flow: column nowrap;
    padding: 5rem 2rem;
    text-align: center;
    gap: 1.5rem;
    align-items: center
}

.footer__copyright {
    font-size: 1.2rem;
    font-weight: 700;
    width: 300px
}

.footer__social {
    display: flex;
    gap: 1rem
}

@media screen and (min-width: 900px) {
    .footer__container {
        flex-flow: row nowrap;
        justify-content: space-between
    }

    .footer__copyright {
        text-align: left;
        width: auto
    }
}

.navigatorFull {
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 25px 30px;
    align-items: center;
    box-shadow: 0 0 10px #00000017;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100
}

.navigatorFull__name {
    font-weight: 700;
    font-size: 1.17em
}

.navigatorFull__openNavigator {
    background-color: transparent;
    cursor: pointer;
    border: none
}

.navigatorList,
.responseNavigator {
    display: none
}

@media screen and (min-width: 900px) {
    .navigatorList {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        gap: 2rem
    }

    .navigatorList li {
        list-style: none
    }

    .navigatorList li a {
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        transition: .3s
    }

    .navigatorList li a:hover {
        color: var(--text-secondary-color)
    }

    .navigatorFull__iconButton {
        display: none
    }
}

.responsiveNavigator {
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    transition: all .3s;
    z-index: 200
}

.responsiveNavigator li {
    list-style: none
}

.responsiveNavigator li a {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: #000
}

.responsiveNavigator--closed {
    overflow: hidden;
    opacity: 1;
    transition: all .3s;
    width: 0
}

.cardProject {
    background-color: #fff;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem
}

.cardProject img {
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 10px #0000001a;
    height: 100%;
    max-width: 450px;
    max-height: 350px;
    object-fit: cover
}

.cardProject__information {
    height: 100%
}

.cardProject__information p {
    color: var(--text-color)
}

.cardProject_skills {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2rem 0
}

.cardSkill {
    padding: .5rem .8rem;
    margin-bottom: .8rem;
    box-shadow: 0 0 10px #0000001a
}

.cardSkill span {
    font-size: 500;
    font-weight: 500
}

.cardProject_links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2rem
}

.cardLink a {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
    gap: .5rem;
    transition: .3s
}

.cardLink a:hover {
    color: var(--text-secondary-color)
}

@media screen and (min-width: 900px) {
    .cardProject {
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
        gap: 2rem
    }

    .cardProject--reverse {
        flex-flow: row-reverse nowrap
    }
}

.projects {
    padding: 8rem 2rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center
}

.projects__container {
    max-width: var(--size-container);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem
}

.projects__cards {
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
    width: 100%
}

.project__components {
    padding-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem
}

.componentProject {
    max-width: 20rem;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 0 10px #0000001a
}

.componentProject img {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover
}

.componentProject p {
    color: var(--text-color)
}

.componentProject p a:first-child {
    margin-right: .5rem
}

.componentProject p a {
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #000;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.componentProject p a:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: var(--secondary-color)
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

:root {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    scroll-behavior: smooth;
    --primary-color: #F9F9F9;
    --secondary-color: #2d2e32;
    --text-color: #767676;
    --text-secondary-color: #147efb;
    --size-window-large: 900px;
    --size-container: 1000px
}